// Place all the styles related to the todos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  background: #f4f7f8;
}

header {
  background: #e8eeef;
  text-align: center;
  font-size: 1.5em;
}

h1 {
  margin-top: 0;
  padding-top: 28px;
}

h2 {
  margin-left: 10px;
}

li {
  padding: 3px;
}

a {
  color: #5fcf80;
  text-decoration: none;
}

p {
  margin-left: 10px;
}

footer {
  background: #e8eeef;
  text-align: center;
  height: 30px;
  line-height: 30px;
}
