// Place all the styles related to the todos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background: #f4f7f8;
}

header {
  background: #e8eeef;
  text-align: center;
}

a {
  color: #5fcf80;
}

footer {
  background: #e8eeef;
  text-align: center;
  height: 30px;
  line-height: 30px;
}
